body {
    /*
    background: url(img/light_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow: hidden;
    padding-top: 5rem;
}

.middle-block {
    padding: 3rem 1.5rem;
    text-align: center;
}

.mid-middle-block {
    margin: 5rem !important;
}

.nickname {
    font-size: 20px;
}

footer {
    text-align: center;
}
